@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: Montserrat;
}

h1 {
    font-family: Montserrat, sans-serif;
}


h2 {
    font-family: Montserrat, sans-serif;
}


h3 {
    font-family: Montserrat, sans-serif;
}


h4 {
    font-family: Montserrat, sans-serif;
}
// app global css in SCSS form
@media (min-width: 768px) {
    .md\:text-xl {
        font-size: 1.25rem !important;
        line-height: 1.75rem !important;
    }

}

@media (min-width: 768px) {
    .md\:text-5xl {
        font-size: 5rem !important;
        line-height: 1 !important;
    }

    .md\:py-24 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }

    .md\:px-6 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .md\:text-4xl {
        font-size: 3.45rem !important;
        line-height: 2.5rem !important;
    }

    .md\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .md\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .md\:p-8 {
        padding: 2rem;
    }
}

@media (min-width: 1024px) {
    .lg\:text-6xl {
        font-size: 5.75rem !important;
        line-height: 1 !important;
    }
}

.h-64 {
    height: 16rem;
}

.font-black {
    font-weight: 900;
}

.max-w-7xl {
    max-width: 80rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.text-3xl {
    font-size: 2.3rem;
    line-height: 2.25rem;
}
.text-4xl {
    font-size: 3.25rem;
    line-height: 4rem;
}

.text-white\/90 {
    color: rgb(255 255 255 / 0.9);
}

.mb-12 {
    margin-bottom: 3rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.max-w-2xl {
    max-width: 42rem;
}

.w-full {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.md\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-muted-foreground {
    color: hsl(0 0% 45% /1);
}

.font-bold {
    font-weight: 700;
}

.font-bold-btn{
    font-weight: 550;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-sm {
    font-size: 0.875rem;
    font-weight: 550;
    line-height: 1.25rem;
}

.font-medium {
    font-weight: 700;
    font-size: 0.875rem;
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - 0));
    margin-bottom: calc(1.5rem * 0);
}

.leading-relaxed {
    line-height: 1.625;
}

.shadow-sm {
    box-shadow:  0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.text-card-foreground {
    --tw-text-opacity: 1;
    color: hsl(0 0% 10% / 1);
}

.bg-card {
    --tw-bg-opacity: 1;
    background-color: hsl(0 0% 95% /  1);
}

.border-card-border {
    --tw-border-opacity: 1;
    border-color: hsl(0 0% 94% /  1);
}

.border {
    border-width: 1px;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.h-12 {
    height: 3rem;
}

.w-12 {
    width: 3rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rounded-md {
    border-radius: .375rem;
}

.text-xl {
    font-size: 1.3rem;
    line-height: 1.75rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.rounded-lg {
    border-radius: .5625rem;
}

.overflow-hidden {
    overflow: hidden;
}

.max-w-3xl {
    max-width: 48rem;
}

.max-w-2xl {
    max-width: 42rem;
}

.bg-muted\/30 {
    background-color: hsla(0, 2%, 92%, 0.486);
}