// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #000000;
$secondary : #E7D43D;
$accent    : rgb(255 255 255 / 0.3);;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$bg: #F7F7F7;
$dark_blue: #0D1724;
$max-width-page: 80rem;
$header-height: 70px;
$gradient-primary: linear-gradient(180deg, #00CF6C 0%, #31A56D 100%);